# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
.python-version
venv/
env/
.env

# C/C++
*.o
*.out
*.exe
a.out
*.obj
*.lib
*.so
*.dll
*.class

# General
# Ignore all files without an extension.
# First, ignore all files and directories.
*
# Then, re-include files with an extension.
!*.*
# Also, re-include directories so we can track files inside them.
!*/

# Specific files to not ignore (e.g., README, LICENSE, etc.)
# You might need to add specific files here that don't have an extension
!README
!LICENSE
!Makefile

# Git-specific files to ignore
.git
*~
*.swp
.DS_Store

